<div class="body">
    <div class="container me-auto">
        <div class="text text-center">
           <h1> These Excercises will help you to be better</h1>
        </div>
        <div class="card-group">
            <div class="card">
                <iframe height="240px" src="https://www.youtube.com/embed/bsMrL_U7Hsk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              <div class="card-body">
                <h5 class="card-title">Foot Injuries</h5>
                <p class="card-text">
                    Dr Jared Beckstrand demonstrates the best lower body exercises you can do in non-weight-bearing positions for lower body injuries! Keep your lower body strong and healthy even while recovering from a lower leg injury. Perfect for post-surgery, broken bones, plantar fasciitis, and knee pain exacerbated by weight-bearing squats and lunges! Hope you enjoy it.
                    The information presented is not intended as medical advice or to be a substitute for medical counseling but intended for entertainment purposes only</p>
              </div>
            </div>
            <div class="card">
                <iframe height="240px" src="https://www.youtube.com/embed/Czx6LUnG1cs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              <div class="card-body">
                <h5 class="card-title">Anterior Cruciate Ligament</h5>
                <p class="card-text">
                    Whether you’ve had an ACL reconstruction, you’re waiting for the operation, or you’re managing your injury without surgery, this video will tell you everything you need to know about the rehab process.
                    The information presented is not intended as medical advice or to be a substitute for medical counseling but intended for entertainment purposes only. If you are experiencing pain, please seek the appropriate healthcare professional.
</p>
              </div>
            </div>
            <div class="card">
                <iframe  height="240px" src="https://www.youtube.com/embed/rXMYfibgeCE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              <div class="card-body">
                <h5 class="card-title">Lateral Sprained Ankle Stretches</h5>
                <p class="card-text">
                    This non-weight bearing total-body workout will get your blood pumping, boost core strength, and loosen up the tight muscles and joints that come along with a lower limb injury.
                    
                    Appropriate movement is important for injury recovery and I hope you'll find some exercises here that work well for you. The information presented is not intended as medical advice or to be a substitute for medical counseling but intended for entertainment purposes only
                    </p>
              </div>
            </div>

          </div>
          
          <div class="card-group">
            <div class="card">
                <iframe height="240px" src="https://www.youtube.com/embed/3JJayVC0-20" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>              <div class="card-body">
                <h5 class="card-title">Lateral Sprained Ankle </h5>
                <p class="card-text">Lateral ankle sprains can be very painful and cause your ankle to become unstable. These stretches and exercises should help the healing process</p>
              </div>
            </div>
            <div class="card">
                <iframe height="240px" src="https://www.youtube.com/embed/7kKqRJTu3A8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>              <div class="card-body">
                <h5 class="card-title">Relieve Tennis Elbow Pain</h5>
                <p class="card-text">
                    Looking for an easy way to help relieve tennis elbow pain? You're in the right place! In this video, I demo some simple stretches and exercises for tennis elbow that are quick and effective.</p>
        
              </div>
            </div>
            <div class="card">
                <iframe  height="240px" src="https://www.youtube.com/embed/y14b9yAsWyQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>              <div class="card-body">
                <h5 class="card-title">Turf Toe </h5>
                <p class="card-text">
                    Turf toe is basically when you sprain the ligaments of your big toe joint. This happens a lot with football and soccer players who play on turf. </p>
              </div>
            </div>
          </div>
          <div class="card-group">
            <div class="card">
                <iframe height="240px" src="https://www.youtube.com/embed/favZefGkiHk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>              <div class="card-body">
                <h5 class="card-title">Tendon Glide Exercises</h5>
                <p class="card-text">this excercise will help you to recover easily but it is not instead of doctor</p>
                
              </div>
            </div>
            <div class="card">
                <iframe height="240px" src="https://www.youtube.com/embed/-Xl3HUOcA9M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>              <div class="card-body">
                <h5 class="card-title">Sprained Wrist</h5>
                <p class="card-text">
                    Dealing with a sprained wrist? Add these exercises to your routine for improved wrist strength and mobility.</p>
              </div>
            </div>
            <div class="card">
                <iframe height="240px" src="https://www.youtube.com/embed/432yWPJQ-is" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>              <div class="card-body">
                <h5 class="card-title">Shoulder Pain</h5>
                <p class="card-text">Today's video covers 4 exercises that can help reduce shoulder pain due to subacromial bursitis and/or tendinopathy of the supraspinatus (rotator cuff) or biceps tendons.</p>
              </div>
            </div>
          </div>
          <div class="card-group">

            <div class="card">
                <iframe height="240px" src="https://www.youtube.com/embed/74eHCazxWXI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>              <div class="card-body">
                <h5 class="card-title"> Wrist Pain</h5>
                <p class="card-text">Alleviate wrist pain fast with these physical therapy stretches and exercises! Dr. Jared Beckstrand demonstrates simple, effective exercises you can follow along with at home to help relieve your wrist pain!</p>
              </div>
            </div>
            <div class="card">
                <iframe height="240px" src="https://www.youtube.com/embed/m_YP7ofbQM0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>              <div class="card-body">
                <h5 class="card-title"> Carpal Tunnel</h5>
                <p class="card-text">
                    The best hand and wrist stretches to relieve numbness, tingling, and burning in your hand from carpal tunnel syndrome. Simple home exercises </p>
              </div>
            </div>
            <div class="card">
                <iframe height="240px" src="https://www.youtube.com/embed/wK4II92qHDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>              <div class="card-body">
                <h5 class="card-title">Thumb Joint</h5>
                <p class="card-text">The joint at the base of your thumb that goes into your wrist, the carpometacarpal (CMC) joint, is a very common place for arthritis to form. </p>
              </div>
            </div>
          </div>
    </div>
</div>