<div class="body">
  <h1>welcome {{ userData }}!</h1>
  <div class="containera">
    <div class="img">
      <img src="../../assets/images/3884555.jpg" alt="" />
    </div>
    <div class="text">
      <div class="h1 text-center">
        <h1 class="text-center">Sports Medic App</h1>
      </div>
      <p class="text-center">
        Our application can help you to detect the type of your injury by <br />
        helping you to upload your x-ray image and we will help <br />
        you by scanning your image ang give you some <br />
        recoomendation before going to the doctor.
      </p>

      <button type="button" class="btn btn-success">
        <a href="../upload">Upload</a>
      </button>
    </div>
  </div>
</div>
<div class="about mt-5 pb-5">
  <div class="header pb-5">
    
  <h1 class="text-center">About us</h1>
  <div class="lines">
    <h5></h5>
    <p></p>
    <h6></h6>
 </div>
  </div>

  <div class="section">
    <div class="texta pb-5">
      <h4>Our Sports Medic:-</h4>
      <p>
        This medic sport app can be defined as an application that helps users to<br>
        identify their injuries by taking and uploading x-rays and compare x-rays<br>
        with our machine model to see if they are normal or not,and if they are not<br>
        normal, we will give recommendation to users before going to the doctor.
      </p>
      <p>Upload your x-ray to get result</p>
      <button class="btns"><a href="../upload">Upload</a></button>
    </div>

    <div class="imga">
      <img src="../../assets/images/xray.png" alt="">
    </div>

  </div>

</div>

  <div class="img w-100 mt-5 mb-5 p-5">
    <img src="../../assets/images/694132body.jpg" alt="" width="100%">
  </div>
<div class="contact" id="contact">
  <h1 class="text-center cont">Contact Us</h1>
  <div class="lines">
    <h5></h5>
    <p></p>
    <h6></h6>
 </div>
<form class="container">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Your Problem</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>
<div class="footer mt-5 pt-4 text-center">
<h6>© Copyright<span>SportMedic.</span>All Rights Reserved</h6>
<img src="../../assets/images/project logo.png" alt="" width="200px">
</div>